.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.flex2,.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu{
    width: 1100px;
    margin: 0 auto;
}
#shouhin_all{
    margin: 0 auto;
}
#shouhin_all .flex{
    align-items: flex-end;
    width: 1100px;
    justify-content: space-between;
}
.nyuryoku {
    width: 1100px;
    margin: 0 auto;
}
.main0 {
    background: #e4f4fa;
    border-left: solid 10px #27acd9;
    border-bottom: solid 0.5px #27acd9;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 0.9em;
    width: 1100px;
}
.main1 {
    background: #d9d8d8;
    border-left: solid 10px #646565;
    border-bottom: solid 0.5px #646565;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 0.9em;
    width: 1100px;
}
.main2 {
    background: #ddf9d3;
    border-left: solid 10px #60b664;
    border-bottom: solid 0.5px #60b664;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 0.9em;
    width: 1100px;
}
.shouhin_name {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background: #27acd9;
    width: 600px;
}
.shouhin_name:after {
    position: absolute;
    bottom: -9px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #27acd9 transparent transparent transparent;
}
.joutai1 {
    padding: 0px 10px;
    color: #fff;
    background-color: #646565;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.joutai2 {
    padding: 0px 10px;
    color: #fff;
    background-color: #60b664;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.title00 h2{
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem 1rem 120px;
    border: solid 2px #9e9e9e;
    width: 1100px;
    margin: 0 auto;
}
.title00 h2:before {
    position: absolute;
    content: '';
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    transform: rotate(25deg);
    background: #9e9e9e;
}
.title01 h2{
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem 1rem 120px;
    border: solid 2px #27acd9;
    width: 1100px;
    margin: 0 auto;
}
.title01 h2:before {
    position: absolute;
    content: '';
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    transform: rotate(25deg);
    background: #27acd9;
}

.title00 h2 span,
.title01 h2 span,
.title02 h2 span,
.title03 h2 span {
color: #333333;
font-size: 18px;
padding-left: 18px;
}

.title00 h2 span.number,
.title01 h2 span.number,
.title02 h2 span.number,
.title03 h2 span.number
{
    position: absolute;
    display: block;
    top: 3px;
    left: 0;
    z-index: 1;
    font-size: 30px;
    font-size: 3rem;
    padding-left: 16px;
    color: #fff;
}
.title02 h2{
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem 1rem 120px;
    border: solid 2px #f75f58;
    width: 1100px;
    margin: 0 auto;
}
.title02 h2:before {
    position: absolute;
    content: '';
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    transform: rotate(25deg);
    background: #f75f58;
}
.title03 h2{
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem 1rem 120px;
    border: solid 2px #349102;
    width: 1100px;
    margin: 0 auto;
}
.title03 h2:before {
    position: absolute;
    content: '';
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    transform: rotate(25deg);
    background: #349102;
}
.point {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px  #f75f58;
}
.point .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -2.5px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #f75f58;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.point p {
    margin: 0; 
    padding: 0;
}
.hover1:hover {
    background-color: #ff6;
}
.haisou_title {
    color: #fff;
    background-color: #f75f58;
    padding: 0.5em;
    border-radius: 0.25rem;
    width: 150px;
    text-align: center;
}
.haisou_kokyaku {
    padding: 0.5em;
    color: #333;
    background: #ffeacf;
    border-left: solid 5px #ffaf58;
}
.hissu {
    font-size: 1.5em;
    color: red;
    margin-left: 5px;
}
.pagination{
    justify-content: center;
}
.login{
    width: 300px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #647b5d;
    border-top: solid 7px #198754;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    margin-top: 200px;
}
.login_title {
    color: #198754;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 0.3em 0;
    border-top: solid 3px #198754;
    border-bottom: solid 3px #198754;
    background-color: #e7fdf3;
}
.memobox{
    margin: 1em 0;
    background-color: #fff9c4;
    padding: 1em;
}
.memobox-title{
    font-size: 18px;
    font-weight: bold;
    color: #ffc107;
}
.memobox p{
    margin: 0;
    padding: 0;
}