{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>サンプル在庫表</title>

</head>
<body>
    <div class="container mt-5 mb-5" style="margin: 0 auto;">

        <!-- 02ブロック （配送先入力）-->
        {% if kazu == 0 %}
        <div style="display: none;">
        {% else %}
        <div>
        {% endif %}

            <!-- タイトル -->
            <div class="title02">
                <h2><span class="number">02</span>配送先を入力してください<span>（サンプルを追加する場合は、続けて選択してください）</span></h2>
            </div>

            <!-- サンプル数量 -->
            {% if kazu > 5 %}
            <div class="alert alert-danger d-flex align-items-center flex" role="alert" style="margin-top: 30px; width: 50%";>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                  サンプル貸出し、キープは5点までです！
                </div>
            </div>
            {% endif %}

            <!-- 選択商品一覧 -->
            <div class="flex mt-4">
                <table class="table table-bordered" style="width: 1100px;">
                    <thead>
                        <tr class="table-secondary">
                            <th>サンプルNo</th>
                            <th>商品番号</th>
                            <th>ブランド</th>
                            <th>商品名</th>
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th>区分</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in irai_shouhin_list %}
                        <tr>
                            <td>{{i.sample_num}}</td>
                            <td>{{i.shouhin_num}}</td>
                            <td>{{i.brand}}</td>
                            <td>{{i.shouhin_name}}</td>
                            <td>{{i.color}}</td>
                            <td>{{i.size}}</td>
                            <td>{{i.kubun}}</td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-outline-dark btn-sm" id="irai_del" name={{i.hontai_num}}>取消</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 配送先選択 -->
            {% if kazu <=  5 %}
            <div class="flex mt-4">
                <div> 
                    <button type="button" class="btn btn-outline-danger" id="btn_cus" style="width: 150px;">顧客</button>
                </div>
                <div style="margin-left: 50px;">
                    <button type="button" class="btn btn-outline-danger" id="btn_tempo" style="width: 150px;">店舗</button>
                </div>
                <div style="margin-left: 50px;">
                    <button type="button" class="btn btn-outline-danger" id="btn_keep" style="width: 150px;">キープ</button>
                </div>  
            </div>

            <!-- 配送先の入力 -->
            <div class="mt-5">

                <!-- 顧客-->
                <div id="haisou_cus" style="display: none;">
                    <form action="">{% csrf_token %}
                        <div>
                            <div class="haisou_title">顧客</div>
                            <div class="haisou_kokyaku mt-4" style="width: 120px;">担当者</div>

                            <div class="flex2 mt-4">
                                <div>所属：</div>
                                <div>
                                    <select class="form-select" name="" >
                                        <option></option>
                                        {% for i in shozoku_list %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="margin-left: 50px;">担当者：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                            </div>
                            <div class="mt-3" style="width: 40%;">
                                <div>依頼書備考：（出荷担当宛ての連絡事項）</div>
                                <div><textarea class="form-control" name="" rows="3"></textarea></div>
                            </div>

                            <div class="haisou_kokyaku mt-5" style="width: 120px;">配送先情報</div>

                            <div class="flex2 mt-3">
                                <div>会社名：</div>
                                <div><input  class="form-control" type="text" name="" id="cus_haisou_com"></div>
                                <div style="margin-left: 50px;">氏名：</div>
                                <div><input  class="form-control" type="text" name="" id="cus_haisou_name"></div>
                            </div>
                            <div class="flex2 mt-3">
                                <div>郵便番号：</div>
                                <div><input  class="form-control" type="text" name="" style="width: 100px;"></div>
                                <div style="margin-left: 50px;">住所：</div>
                                <div><input  class="form-control" type="text" name="" style="width: 600px;"></div>
                            </div>
                            <div class="flex2 mt-3">
                                <div>電話番号：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                                <div style="margin-left: 50px;">メールアドレス（発送連絡）：</div>
                                <div><input  class="form-control" type="email" name=""></div>
                            </div>

                            <div class="haisou_kokyaku mt-5" style="width: 120px;">納品書情報</div>

                            <div class="flex2 mt-3">
                                <div>会社名：</div>
                                <div><input  class="form-control" type="text" name=""  id="cus_nouhin_com"></div>
                                <div style="margin-left: 50px;">氏名：</div>
                                <div><input  class="form-control" type="text" name=""  id="cus_nouhin_name"></div>
                            </div>
                            <div class="flex2 mt-3">
                                <div>納品書日付：</div>
                                <div><input  class="form-control" style="text-align: center;" type="date" name="" id="haisou_cus_nouhin" value="{{today}}"></div>
                                <div style="margin-left: 50px;">貸出期限：</div>
                                <div><input  class="form-control" style="text-align: center;" type="date" name="" id="haisou_cus_kigen" value="{{kigen}}" readonly></div>
                            </div>
                            <div class="mt-3">
                                <div style="width: 40%;">
                                    <div>納品書備考：</div>
                                    <div><textarea class="form-control" name="" rows="3"></textarea></div>
                                </div>
                            </div>

                            <div class="haisou_kokyaku_pass mt-5" style="width: 120px;">案件パスワード</div>

                            <div class="flex2 mt-3">
                                <div><input  class="form-control" type="password" name="" style="width: 120px;"></div>
                                <div style="margin-left: 0.5em; font-size: 0.9em;">（※依頼の変更、削除に使用します）</div>
                            </div>

                            <div class="mt-5">
                                <button type="submit" class="btn btn-outline-danger" style="height: 4em;"><img src="{% static 'tamori.gif' %}"> 
                                    >> では、上記住所へ直送します！（クリックして送信）
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 店舗 -->
                <div id="haisou_tempo" style="display: none;">
                    <form action="">{% csrf_token %}
                        <div>
                            <div class="haisou_title">店舗</div>
                            <div class="haisou_kokyaku mt-4" style="width: 120px;">担当者</div>

                            <div class="flex2 mt-4">
                                <div>所属：</div>
                                <div>
                                    <select class="form-select" name="" id="tempo_shozoku">
                                        <option></option>
                                        {% for i in shozoku_list %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="margin-left: 50px;">担当者：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                                <div style="margin-left: 50px;">配送先：</div>
                                <div>
                                    <select class="form-select" name="" id="tempo_haisou">
                                        <option></option>
                                        {% for i in shozoku_list %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mt-3" style="width: 40%;">
                                <div>依頼書備考：（出荷担当宛ての連絡事項）</div>
                                <div><textarea class="form-control" name="" rows="3"></textarea></div>
                            </div>

                            <div class="haisou_kokyaku mt-5" style="width: 250px;">顧客情報（納品書の宛名）</div>

                            <div class="flex2 mt-3">
                                <div>会社名：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                                <div style="margin-left: 50px;">氏名：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                            </div>
                            <div class="flex2 mt-3">
                                <div>納品書日付：</div>
                                <div><input  class="form-control" style="text-align: center;" type="date" name=""  id="haisou_tempo_nouhin" value="{{today}}"></div>
                                <div style="margin-left: 50px;">貸出期限：</div>
                                <div><input  class="form-control" style="text-align: center;" type="date" name=""  id="haisou_tempo_kigen" value="{{kigen}}" readonly></div>
                            </div>
                            <div class="mt-3">
                                <div style="width: 40%;">
                                    <div>納品書備考：</div>
                                    <div><textarea class="form-control" name="" rows="3"></textarea></div>
                                </div>
                            </div>

                            <div class="haisou_kokyaku_pass mt-5" style="width: 120px;">案件パスワード</div>

                            <div class="flex2 mt-3">
                                <div><input  class="form-control" type="password" name="" style="width: 120px;"></div>
                                <div style="margin-left: 0.5em; font-size: 0.9em;">（※依頼の変更、削除に使用します）</div>
                            </div>

                            <div class="mt-5">
                                <button type="submit" class="btn btn-outline-danger" style="height: 4em;"><img src="{% static 'tamori.gif' %}"> 
                                    >> では、店舗へ直送します！（クリックして送信）
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- キープ -->
                <div id="haisou_keep" style="display: none;">
                    <form action="">{% csrf_token %}
                        <div>
                            <div class="haisou_title">キープ</div>
                            <div class="haisou_kokyaku mt-4" style="width: 120px;">担当者</div>

                            <div class="flex2 mt-4">
                                <div>所属：</div>
                                <div>
                                    <select class="form-select" name="" >
                                        <option></option>
                                        {% for i in shozoku_list %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="margin-left: 50px;">担当者：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                            </div>
                            
                            <div class="haisou_kokyaku mt-5" style="width: 120px;">顧客情報</div>

                            <div class="flex2 mt-3">
                                <div>会社名：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                                <div style="margin-left: 50px;">氏名：</div>
                                <div><input  class="form-control" type="text" name=""></div>
                            </div>
                            <div class="mt-3">
                                <div>備考：</div>
                                <div><textarea class="form-control" style="width: 40%;" name="" rows="3"></textarea></div>
                            </div>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-outline-danger" style="height: 4em;"><img src="{% static 'tamori.gif' %}"> 
                                    >> では、キープを確定します！（クリックして送信）
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            {% endif %}

        </div>
        

        <!-- 01ブロック　（商品選択） -->
        {% if kazu > 0 %}
        <div style="margin-top: 150px;"></div>
        <script>window.scroll({top: 0, behavior: 'smooth'});</script>
        {% else %}
        <div>
        {% endif %}

            <!-- タイトル -->
            <div class="title01"><h2><span class="number">01</span>サンプルを選択してください<span>（貸出し、キープは5点まで可能です）</span></h2></div>

            <!-- 商品検索 -->
            <div class="flex mt-4">
                <div class="flex2">
                    <div>品番検索：</div>
                    <div style="width: 150px;"><input class="form-control" type="text" id="hinban_enter"></div>
                </div>
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" id="btn_kakou" style="width: 200px;">加工サンプルを探す</button>
                </div>
                <div style="margin-left: 30px;"> 
                    <button type="button" class="btn btn-outline-dark" id="btn_swatch" style="width: 200px;">生地スワッチを探す</button>
                </div>
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#toriyose_modal" style="width: 200px;">メーカー取り寄せを入力する</button>
                </div>
            </div>
            <div class="flex mt-4">
                <div>
                    <select class="form-control" id="hinban" style="width: 200px; height:150px;" size="5"></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="color" name="color_size" style="font-size: 0.9em; width: 250px; height:150px;" multiple></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="size" name="color_size" style="width: 150px; height:150px;" multiple></select>
                </div>
                <div class="point" style="margin-left: 30px; width: 230px;">
                    <span class="box-title">複数選択と解除</span>
                    <p>「カラー」や「サイズ」を複数選択または解除したい場合は、<br>
                        <span style="background:linear-gradient(transparent 60%, #ff6 60%);">
                        <b>「Ctrl」</b>キーを押しながら</span>選択してください。
                    </p>
                </div>
            </div>

            <!-- 商品リスト -->
            <iframe src="{% url 'zaiko:shouhin_all' %}" name="shouhin_all" width="100%" height="400px"></iframe>
            
            <!-- モーダル -->
            <div class="modal fade" id="toriyose_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: #f75f58;">メーカー取り寄せ商品 の入力</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div>
                                    ・発注した商品詳細を手入力して下さい（登録サイズがリストに無い場合は、直接入力してください）<br>
                                    ・メーカーへの発注は各自でお願いします。（納品先は「物流センター」宛てにして下さい）
                                </div>
                                <div class="mt-3">
                                    <table class="table table-bordered" id="toriyose_teble">
                                        <tr class="table-secondary">
                                            <th style="width: 15%;">商品番号</th>
                                            <th style="width: 15%;">ブランド</th>
                                            <th style="width: 40%;">商品名</th>
                                            <th style="width: 18%;">カラー</th>
                                            <th style="width: 12%;">サイズ</th>
                                            <th style="display: none;"></th>
                                        </tr>
                                        {% with ''|center:5 as range %}
                                        {% for _ in range %}
                                        <tr>
                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                            <td>
                                                <input list="list" type="text" id="size_choose_input" style="width: 100%;">
                                                <datalist id="list">
                                                    {% for size in size_list %}
                                                    <option value="{{size}}">
                                                    {% endfor %}
                                                </datalist>
                                            </td>
                                            <td style="display: none;"></td>
                                        </tr>
                                        {% endfor %}
                                        {% endwith %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="toriyose_add">依頼リストに追加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    


    <!-- 各種Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  
  
  
        //品番入力
        $('#hinban_enter').on('input', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:hinban_enter_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban_enter').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var list
                if (response.hinban.length == 0){
                    list='<option></option>';
                } else {
                    for (var i of response.hinban){
                        list = list + '<option>' + i + '</option>';
                    }
                }
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
                window.shouhin_all.location.href = "shouhin_all";
            });
        });


        //品番選択（カラー、サイズ検索）
        $('#hinban').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:hinban_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var color_list
                var size_list
                for (var i of response.color){
                    color_list = color_list + '<option>' + i + '</option>';
                };
                for (var i of response.size){
                    size_list = size_list + '<option>' + i + '</option>';
                }
                document.getElementById("color").innerHTML=color_list; 
                document.getElementById("size").innerHTML=size_list;
                window.shouhin_all.location.href = "hinban_click_ajax2";   
            });
        });


        //カラー選択
        $('#color').on('click', function(e) {
            e.preventDefault();

            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                }
            }
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                }
            }
            color=color.toString();
            size=size.toString();
        
            $.ajax({
                'url': '{% url "zaiko:color_size_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                    'color':color,
                    'size':size,
                },
                'dataType': 'json'
            })
            .done(function(response){       
                window.shouhin_all.location.href = "color_size_click_ajax2";
            });
        });


        //サイズ選択
        $('#size').on('click', function(e) {
            e.preventDefault();

            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                }
            }
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                }
            }
            color=color.toString();
            size=size.toString();
        
            $.ajax({
                'url': '{% url "zaiko:color_size_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                    'color':color,
                    'size':size,
                },
                'dataType': 'json'
            })
            .done(function(response){          
                window.shouhin_all.location.href = "color_size_click_ajax2";
            });
        });


        //加工方法ボタン
        $('#btn_kakou').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:kakou_click_ajax" %}',
                'type': 'POST',
            })
            .done(function(response){
                var list
                for (var i of response.hinban){
                    list = list + '<option>' + i + '</option>';
                }
                document.getElementById("hinban_enter").value="";
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
            });            
        });


        //スワッチボタン
        $('#btn_swatch').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:swatch_click_ajax" %}',
                'type': 'POST',
            })
            .done(function(response){
                var list
                for (var i of response.hinban){
                    list = list + '<option>' + i + '</option>';
                }
                document.getElementById("hinban_enter").value="";
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
            });            
        });


        // 取り寄せモーダル
        $("#toriyose_modal").on("show.bs.modal", function (event) {
            document.getElementById("hinban_enter").value="";
            document.getElementById("hinban").innerHTML="";
            document.getElementById("color").innerHTML="";
            document.getElementById("size").innerHTML="";
        })


        // 取寄せサイズ選択
        var size = document.querySelectorAll("#size_choose_input");
        for (var i=0; i<size.length; i++){
            size[i].addEventListener("change",function(){
                this.parentElement.nextElementSibling.innerHTML=this.value; 
            },false)
        };


        // 取り寄せ商品の取り込み
        $('#toriyose_add').on('click', function(e) {
            e.preventDefault();
            var table = document.getElementById('toriyose_teble');
            var rows = [];
            for (r = 0; r < table.rows.length; r++) {
                var row = [];
                for (c = 0; c < table.rows[r].cells.length; c++) {
                    if (c != 4){
                        row[c] = table.rows[r].cells[c].textContent;
                    };
                };
                rows[r] = row;
            }
            rows = JSON.stringify(rows);
            $.ajax({
                'url': '{% url "zaiko:toriyose_add_ajax" %}',
                'type': 'POST',
                'data': {'rows':rows},
                'dataType': 'json'
            })
            .done(function(response){
                window.location.reload();
            });            
        });
        


        // 依頼リストから削除
        irai_del()
        function irai_del(){
            var irai=document.querySelectorAll("#irai_del");
            for (var i=0; i<irai.length; i++){
                irai[i].addEventListener("click",function(){
                    $.ajax({
                        'url': '{% url "zaiko:irai_del_ajax" %}',
                        'type': 'POST',
                        'data': {"irai_del":this.name},
                        'dataType': 'json'
                    })
                    .done(function(response){                
                        window.location.reload();
                    })
                },false)
            }
        }    


        // 配送先ボタン
        var tempo=document.getElementById("btn_tempo")
        var cus=document.getElementById("btn_cus")
        var keep=document.getElementById("btn_keep")
        var tempo2=document.getElementById("haisou_tempo")
        var cus2=document.getElementById("haisou_cus")
        var keep2=document.getElementById("haisou_keep")
        tempo.addEventListener("click",function(){
            tempo2.style.display="block";
            cus2.style.display="none";
            keep2.style.display="none";
        })
        cus.addEventListener("click",function(){
            tempo2.style.display="none";
            cus2.style.display="block";
            keep2.style.display="none";
        })
        keep.addEventListener("click",function(){
            tempo2.style.display="none";
            cus2.style.display="none";
            keep2.style.display="block";
        })


        // 自動転記
        var tempo_shozoku = document.getElementById("tempo_shozoku")
        var tempo_haisou = document.getElementById("tempo_haisou")
        tempo_shozoku.addEventListener("change",function(){
            num=tempo_shozoku.selectedIndex;
            tempo_haisou.selectedIndex=num;
        })
        var cus_haisou_com = document.getElementById("cus_haisou_com")
        var cus_haisou_name = document.getElementById("cus_haisou_name")
        var cus_nouhin_com = document.getElementById("cus_nouhin_com")
        var cus_nouhin_name = document.getElementById("cus_nouhin_name")
        cus_haisou_com.addEventListener("change",function(){
            cus_nouhin_com.value = cus_haisou_com.value;
        })
        cus_haisou_name.addEventListener("change",function(){
            cus_nouhin_name.value = cus_haisou_name.value;
        })    
        var haisou_cus_nouhin = document.getElementById("haisou_cus_nouhin")
        var haisou_cus_kigen = document.getElementById("haisou_cus_kigen")
        haisou_cus_nouhin.addEventListener("change",function(){
            var dtobj = new Date(haisou_cus_nouhin.value);
            dtobj.setDate(dtobj.getDate() + 14);

            var date = GetDateString(dtobj);
            var arr=date.split("/")
            y=arr[0];
            m=arr[1];
            d=arr[2];
            if (m.length == 1){
                m= "0" + m;
            };
            if (d.length == 1){
                d= "0" + d;
            };
            kigen=y + "-" + m + "-" + d;
            haisou_cus_kigen.value = kigen;
        })
        var haisou_tempo_nouhin = document.getElementById("haisou_tempo_nouhin")
        var haisou_tempo_kigen = document.getElementById("haisou_tempo_kigen")
        haisou_tempo_nouhin.addEventListener("change",function(){
            var dtobj = new Date(haisou_tempo_nouhin.value);
            dtobj.setDate(dtobj.getDate() + 14);

            var date = GetDateString(dtobj);
            var arr=date.split("/")
            y=arr[0];
            m=arr[1];
            d=arr[2];
            if (m.length == 1){
                m= "0" + m;
            };
            if (d.length == 1){
                d= "0" + d;
            };
            kigen=y + "-" + m + "-" + d;
            haisou_tempo_kigen.value = kigen;
        })



        function GetDateString(dateobj) {
            date_string = 'YYYY/MM/DD';
            date_string = date_string.replace(/YYYY/g, dateobj.getFullYear());
            date_string = date_string.replace(/MM/g, dateobj.getMonth() + 1);
            date_string = date_string.replace(/DD/g, dateobj.getDate());
            return date_string;
    }


    </script>

    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>