{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>サンプル在庫表</title>

</head>
<body>
    <div class="container mt-5 mb-5" style="margin: 0 auto;">

        <!-- 02ブロック （配送先入力）-->
        <div id="send_sample">

            <!-- タイトル -->
            <div class="title02">
                <h2><span>02</span>配送先を入力してください（サンプルを追加選択しても可）</h2>
            </div>

            <!-- 選択商品一覧 -->
            <div class="flex mt-4">
                <table>
                    <tr>
                        <td>aaaaa</td>
                    </tr>
                </table>
            </div>

            <!-- 配送先選択 -->
            <div class="flex mt-4">
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" id="btn_p1" style="width: 200px;">本社・直営・FC店舗</button>
                </div>
                <div style="margin-left: 30px;"> 
                    <button type="button" class="btn btn-outline-dark" id="btn_customer" style="width: 200px;">配送先を指定する</button>
                </div>
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" id="btn_p1" style="width: 200px;">キープのみ</button>
                </div>  
            </div>

        </div>


        <p class="mat-5"></p>


        <!-- 01ブロック　（商品選択） -->
        <div>
            <!-- タイトル -->
            <div class="title01"><h2><span>01</span>サンプルを選択してください</h2></div>

            <!-- 商品検索 -->
            <div class="flex mt-4">
                <div class="flex2">
                    <div>品番検索：</div>
                    <div style="width: 150px;"><input class="form-control" type="text" id="hinban_enter"></div>
                </div>
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" id="btn_kakou" style="width: 200px;">加工サンプルを探す</button>
                </div>
                <div style="margin-left: 30px;"> 
                    <button type="button" class="btn btn-outline-dark" id="btn_swatch" style="width: 200px;">生地スワッチを探す</button>
                </div>
                <div style="margin-left: 30px;">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#toriyose_modal" style="width: 200px;">メーカー取り寄せを入力する</button>
                </div>
            </div>
            <div class="flex mt-4">
                <div>
                    <select class="form-control" id="hinban" style="width: 200px; height:150px;" size="5"></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="color" name="color_size" style="font-size: 0.9em; width: 250px; height:150px;" multiple></select>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="size" name="color_size" style="width: 150px; height:150px;" multiple></select>
                </div>
                <div class="point" style="margin-left: 30px; width: 230px;">
                    <span class="box-title">複数選択と解除</span>
                    <p>「カラー」や「サイズ」を複数選択または解除したい場合は、<br>
                        <span style="background:linear-gradient(transparent 60%, #ff6 60%);">
                        <b>「Ctrl」</b>キーを押しながら</span>選択してください。
                    </p>
                </div>
            </div>

            <!-- 商品リスト -->
            <div id="shouhin_all" style="display: none;">
                <div class="flex">
                    <div id="shouhin_name"></div>
                    <div class="place_addlist">
                        <button type="button" class="btn btn-primary" id="btn_addlist">依頼リストに追加</button>
                    </div>
                </div> 
                <div class="mt-4">
                    <div id="shouhin_list"></div>
                </div>
            </div>
            
            <!-- モーダル -->
            <div class="modal fade" id="toriyose_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">取り寄せ商品 の入力</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">依頼リストに追加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>




    <!-- 各種Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  
  
  
        //品番入力
        $('#hinban_enter').on('input', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:hinban_enter_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban_enter').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var list
                if (response.hinban.length == 0){
                    list='<option></option>';
                } else {
                    for (var i of response.hinban){
                        list = list + '<option>' + i + '</option>';
                    }
                }
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
                document.getElementById("shouhin_all").style.display="none";
            });
        });


        //品番選択（カラー、サイズ検索）
        $('#hinban').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:hinban_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var color_list
                var size_list
                var str
                var str2
                var status
                var main

                for (var i of response.color){
                    color_list = color_list + '<option>' + i + '</option>';
                };
                for (var i of response.size){
                    size_list = size_list + '<option>' + i + '</option>';
                }

                str="<div class='mt-4 shouhin_name' style='width: 500px;'>" +
                    "<div style='font-size:1.2em'>" + response.shouhin_name + "</div>" +
                    "<div>" + response.brand + "</div>" +
                    "</div>"
        
                document.getElementById("color").innerHTML=color_list; 
                document.getElementById("size").innerHTML=size_list;
                document.getElementById("shouhin_all").style.display="block";
                document.getElementById("shouhin_name").innerHTML=str;
                
                var all_list=""
                for (var item of response.items){
                    if (item.joutai == 0){
                        main="main0";
                        status="";
                        str2="<input type='checkbox' class='form-check-input' style='border-color: #646565' name='" + item.hontai_num + "'>";
                    } else if (item.joutai == 1){
                        main="main1";
                        str2="";
                        for (var ren of response.items3){
                            if (item.irai_num == ren.irai_num_rental){
                                status="<div class='joutai1' title='■担当者：" + ren.busho + "　" + ren.tantou +
                                "　　■貸出日：" + ren.rental_day + "　　■お客様：" + ren.com_name +" " + ren.cus_name + "'>貸出中</div>";
                            }
                        }
                    } else if (item.joutai == 2){
                        main="main2";
                        for (var ren of response.items3){
                            if (item.irai_num == ren.irai_num_rental){
                                str2="<button type='button' class='btn btn-outline-success btn-sm' style='padding: 0px 5px;'" + 
                                    "name='" + item.hontai_num + ","+ item.irai_num + "," + ren.busho + "　" + ren.tantou + "' id='kaijo'>解除</button>";
                                status="<div class='joutai2' title='■担当者：" + ren.busho + "　" + ren.tantou +
                                    "　　■キープ日：" + ren.rental_day + "　　■お客様：" + ren.com_name +" " + ren.cus_name + "'>キープ中</div>";
                            }
                        }
                    }
                    all_list=all_list + 
                    "<div class='" + main + " flex hover1'>" + 
                        "<div style='width:100px;'>No." + item.sample_num + "</div>"+ 
                        "<div style='width:150px; padding-left:20px'>" + status + "</div>"+ 
                        "<div style='width:250px;'>" + item.color + "</div>"+ 
                        "<div style='width:100px;'>" + item.size + "</div>"+ 
                        "<div style='width:250px;'>" + item.kakou + "</div>"+ 
                        "<div style='width:150px;'>" + item.bikou + "</div>"+ 
                        "<div style='width:50px; text-align: center;'>" + str2 + "</div>"+
                    "</div>"
                }
                document.getElementById("shouhin_list").innerHTML=all_list;
                kaijo()
            });
        });


        //カラー選択
        $('#color').on('click', function(e) {
            e.preventDefault();

            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                }
            }
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                }
            }
            color=color.toString();
            size=size.toString();
        
            $.ajax({
                'url': '{% url "zaiko:color_size_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                    'color':color,
                    'size':size,
                },
                'dataType': 'json'
            })
            .done(function(response){                
                var all_list=""
                for (var item of response.items){
                    all_list=all_list + 
                    "<div class='main2'>" + "サンプルNo：" + item.sample_num + "商品名：" + item.shouhin_name +
                        "カラー：" + item.color + "サイズ：" + item.size + 
                    "</div>"
                }
                document.getElementById("shouhin_list").innerHTML=all_list; 
            });
        });


        //サイズ選択
        $('#size').on('click', function(e) {
            e.preventDefault();

            var color=[];
            var elm=document.getElementById("color").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    color.push(elm[i].value);
                }
            }
            var size=[];
            elm=document.getElementById("size").options;
            for (i=0 ; i<elm.length ; i++){
                if (elm[i].selected){
                    size.push(elm[i].value);
                }
            }
            color=color.toString();
            size=size.toString();
        
            $.ajax({
                'url': '{% url "zaiko:color_size_click_ajax" %}',
                'type': 'POST',
                'data': {
                    'hinban': $('#hinban').val(),
                    'color':color,
                    'size':size,
                },
                'dataType': 'json'
            })
            .done(function(response){                
                var all_list=""
                for (var item of response.items){
                    all_list=all_list + 
                    "<div class='main2'>" + "サンプルNo：" + item.sample_num + "商品名：" + item.shouhin_name +
                        "カラー：" + item.color + "サイズ：" + item.size + 
                    "</div>"
                }
                document.getElementById("shouhin_list").innerHTML=all_list; 
            });
        });


        //加工方法ボタン
        $('#btn_kakou').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:kakou_click_ajax" %}',
                'type': 'POST',
            })
            .done(function(response){
                var list
                for (var i of response.hinban){
                    list = list + '<option>' + i + '</option>';
                }
                document.getElementById("hinban_enter").value="";
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
                document.getElementById("shouhin_all").style.display="none";
            });            
        });


        //スワッチボタン
        $('#btn_swatch').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "zaiko:swatch_click_ajax" %}',
                'type': 'POST',
            })
            .done(function(response){
                var list
                for (var i of response.hinban){
                    list = list + '<option>' + i + '</option>';
                }
                document.getElementById("hinban_enter").value="";
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("color").innerHTML="";
                document.getElementById("size").innerHTML="";
                document.getElementById("shouhin_all").style.display="none";
            });            
        });


        // 取り寄せモーダル
        $("#toriyose_modal").on("show.bs.modal", function (event) {
            document.getElementById("hinban_enter").value="";
            document.getElementById("hinban").innerHTML="";
            document.getElementById("color").innerHTML="";
            document.getElementById("size").innerHTML="";
            document.getElementById("shouhin_all").style.display="none";
            
            
        })


        // キープ解除
        function kaijo(){
            var kaijo=document.querySelectorAll("#kaijo");
            for (var i=0; i<kaijo.length; i++){
                kaijo[i].addEventListener("click",function(){
                    var arr=this.name.split(",");
                    var result = window.confirm(arr[2] + "さんがキープしています。\n\n本当に解除しますか？");
                    if (result){
                        $.ajax({
                            'url': '{% url "zaiko:keep_kaijo_ajax" %}',
                            'type': 'POST',
                            'data': {
                                "hontai_num":arr[0],
                                "irai_num":arr[1],
                            },
                            'dataType': 'json'
                        })
                        var oya=this.parentNode.parentNode;
                        oya.className="main0 flex hover1";
                        oya.children[1].innerHTML="";
                        oya.children[6].innerHTML="<input type='checkbox' class='form-check-input' style='border-color: #646565' name='" + arr[0] + "'>";
                    }
                },false)
            }
        }     
        
    </script>

    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>