{% load static %}
<!-- メニュー -->
<div class="menu">
    <!-- 営業側 -->
    <div>
        <a href="https://www.p1-intl.com/" target="_blank"><img src="{% static 'logo.webp' %}"></a>
    </div>
    <div style="margin-left: 30px;">
        <a href="{% url 'zaiko:index' %}"><button type="button" class="btn btn-outline-success">サンプル在庫表</button></a>
    </div>
    <div style="margin-left: 30px;">
        <a href="{% url 'zaiko:irai_rireki' %}"><button type="button" class="btn btn-outline-success">履歴一覧（キャンセル依頼）</button></a>
    </div>

    <!-- 出荷側 -->
    {% if kanri == 1 %}
    <div style="margin-left: 30px;">
        <a href="{% url 'zaiko2:index2' %}"><button type="button" class="btn btn-outline-primary">商品登録 / 編集</button></a>
    </div>
    <div style="margin-left: 30px;">
        <a href="{% url 'zaiko2:size_category' %}"><button type="button" class="btn btn-outline-primary">カテゴリ / サイズ</button></a>
    </div>
    <div style="margin-left: 30px;">
        <a href="{% url 'zaiko2:henkyaku' %}"><button type="button" class="btn btn-outline-primary">返却処理</button></a>
    </div>
    {% endif %}
</div>