{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'tamori.gif' %}">
    <title>サンプル依頼履歴</title>
</head>
<body>
    <div class="container mt-3 mb-5">
        <div style="margin: 0 auto; justify-content: center; width: 1100px;">

            <!-- メニュー -->
            {% include "zaiko/menu.html" with kanri=kanri %}

            <!-- タイトル -->
            <div style="margin-top: 50px;">
                <div class="title00">
                    <h2><span class="number">00</span>サンプル依頼履歴<span>（ 「発送待ち」の案件はキャンセルが可能です ）</span></h2>    
                </div>
            </div>

            <!-- 検索フォーム -->
            <div class="mt-5">
                <form action="{% url 'zaiko:rireki_kensaku' %}" method="post">{% csrf_token %}
                    <div class="flex2">
                        <div>依頼No.：</div>
                        <div><input class="form-control" type="text" name="irai_num" style="width: 100px;"></div>
                        <div style="margin-left: 30px;">依頼日：</div>
                        <div><input class="form-control" type="date" name="rental_day_st"></div>
                        <div style="margin-left: 10px;">～</div>
                        <div><input class="form-control" type="date" name="rental_day_ed" style="margin-left: 10px;"></div>
                        <div style="margin-left: 30px;">内容：</div>
                        <div>
                            <select class="form-select" name="irai_type">
                                <option></option>
                                <option value="0">顧客あて</option>
                                <option value="1">店舗あて</option>
                                <option value="2">キープ</option>
                            </select>
                        </div>
                        <div style="margin-left: 30px;">状態：</div>
                        <div>
                            <select class="form-select" name="status">
                                <option></option>
                                <option value="0">発送待ち</option>
                                <option value="1">準備中</option>
                                <option value="2">発送済</option>
                                <option value="3">キャンセル</option>
                                <option value="5">返却済</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex2 mt-4">
                        <div>担当者：</div>
                        <div><input class="form-control" type="text" name="tantou" style="width: 110px;"></div>
                        <div style="margin-left: 30px;">顧客会社：</div>
                        <div><input class="form-control" type="text" name="nouhin_com" style="width: 150px;"></div>
                        <div style="margin-left: 30px;">顧客氏名：</div>
                        <div><input class="form-control" type="text" name="nouhin_cus" style="width: 150px;"></div>
                        <div style="margin-left: 30px;">電話番号：</div>
                        <div><input class="form-control" type="text" name="tel" style="width: 150px;"></div>
                        <div style="margin-left: 30px;">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> 検索</button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>
            <!-- 履歴一覧 -->
            <div class="mt-3">
                <div class="flex4">
                    <div>
                        <form method="post">{% csrf_token %}
                            <button class="btn btn-outline-secondary btn-sm" type="submit" formaction="{% url 'zaiko:rireki_kensaku_all' %}">全て表示</button>
                        </form>
                    </div>

                    {% if kanri == 1 %}
                    <div>
                        <button class="btn btn-danger" id="csv_download">
                            <i class="bi bi-download"></i> ダウンロード
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="mt-3">
                    <table class="table table-bordered" style="font-size: 0.9em;">
                        <thead>
                            <tr class="table-secondary">
                                {% if kanri == 1 %}
                                    <th><input class="form-check-input" type="checkbox" id="check_all"></th>
                                {% endif %}
                                <th>依頼NO.</th>
                                <th>依頼日</th>
                                <th>内容</th>
                                <th>所属</th>
                                <th>担当者</th>
                                {% if kanri != 1 %}
                                    <th>貸出期限</th>
                                {% endif %}
                                <th>顧客会社</th>
                                <th>顧客氏名</th>
                                <th style="text-align: center;">状態</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in items %}
                            <tr style="height: 50px;">
                                {% if kanri == 1 %}
                                    {% if i.status == 0 %}
                                    <td style="vertical-align: middle;">
                                        <input class="form-check-input" type="checkbox" id="{{i.irai_num}}" name="check_list">
                                    </td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                {% endif %}
                                <td style="vertical-align: middle; text-align: center; white-space: nowrap;">
                                    <form action="{% url 'zaiko:rireki_kakunin' i.pk %}" method="post">{% csrf_token %}
                                        <button type="submit" class="btn btn-sm">
                                            <span style="color: #2ab1e7; font-weight: bold;"><i class="bi bi-box-arrow-up-right"></i> {{i.irai_num}}</span>
                                        </button>
                    
                                    </form>
                                </td>
                                <td style="vertical-align: middle; white-space: nowrap;">{{i.rental_day}}</td>
                                <td style="vertical-align: middle; white-space: nowrap;">
                                    {% if i.irai_type == 0 %}
                                        顧客あて
                                    {% elif i.irai_type == 1 %}
                                        店舗あて
                                    {% elif i.irai_type == 2 %}
                                        キープ
                                    {% endif %}
                                </td>
                                <td style="vertical-align: middle; white-space: nowrap;">{{i.shozoku}}</td>
                                <td style="vertical-align: middle; white-space: nowrap;">{{i.tantou}}</td>
                                {% if kanri != 1 %}
                                    <td style="vertical-align: middle; white-space: nowrap;">{{i.rental_maxday}}</td>
                                {% endif %}
                                <td style="vertical-align: middle;">{{i.nouhin_com}}</td>
                                <td style="vertical-align: middle;">{{i.nouhin_cus}}</td>
                                <td style="vertical-align: middle; text-align: center; white-space: nowrap;">
                                    {% if i.status == 0 %}
                                        <form action="{% url 'zaiko:rireki_kakunin' i.pk %}" method="post">{% csrf_token %}
                                            <button type="submit" class="btn btn-success btn-sm">発送待ち</button>
                                        </form>
                                    {% elif i.status == 1 %}
                                        <span style="color: red;"><span style="font-size: 1.3em;"><i class="bi bi-cone-striped"></i></span> 準備中</span>
                                    {% elif i.status == 2 %}
                                        <span style="color: blue"><span style="font-size: 1.3em;"><i class="bi bi-truck"></i></span> 発送済</span>
                                    {% elif i.status == 3 %}
                                        キャンセル
                                    {% elif i.status == 4 %}
                                        -
                                    {% elif i.status == 5 %}
                                        <span style="font-size: 1.3em;"><i class="bi bi-emoji-sunglasses"></i></span> 返却済
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ページネーション -->
            <div style="margin: 0 auto;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-4">
                    <li class="page-item"><a class="page-link" href="{% url 'zaiko:page_first' %}">最初へ</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'zaiko:page_prev' %}">前へ</a></li>
                    <li class="page-item"><a class="page-link" pointer-events: none;>{{num}}/{{all_num}}</a></li>               
                    <li class="page-item"><a class="page-link" href="{% url 'zaiko:page_next' %}">次へ</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'zaiko:page_last' %}">最後へ</a></li> 
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- 各種Ajax -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  

        // 全チェック
        var check_all = document.getElementById("check_all");
        check_all.addEventListener("click",function(){
            var che=document.getElementsByName("check_list");
            for (var i=0; i<che.length; i++){
                if (check_all.checked){
                    che[i].checked=true;
                } else {
                    che[i].checked=false;
                };
            };
        });

        
        // CSVダウンロード
        var csv_download = document.getElementById("csv_download");
        csv_download.addEventListener("click",function(){
            var che=document.getElementsByName("check_list");    
            var irai_list=[];
            for (var i=0; i<che.length; i++){
                if (che[i].checked){
                    irai_list.push(che[i].id);
                };
            };
            if (irai_list.length == 0){
                window.alert("対象の案件を選択してください！");
                return
            }
            irai_list=irai_list.toString();
            $.ajax({
                'url': '{% url "zaiko:csv_make" %}',
                'type': 'POST',
                'data': {'irai_list': irai_list},
                'dataType': 'json'
            })
            .done(function(response){          
                window.location.href='{% url "zaiko:csv_download" %}';
            });
        });

    </script>

</body>
</html>