{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'tamori.gif' %}">   
    <title>サンプル依頼結果</title>
</head>
<body>
    <div class="container mt-3 mb-5">
        <div style="margin: 0 auto; justify-content: center; width: 1100px;">
            
            <!-- メニュー -->
            {% include "zaiko/menu.html" with kanri=kanri %}

            <!-- タイトル -->
            <div style="margin-top: 30px;">
                {% if kubun == "new" %}
                    <div class="title03">
                        <h2><span class="number">03</span>サンプル依頼が完了しました</h2>
                    </div>
                {% elif kubun == "kakunin_ok" %}
                    <div class="title03">
                        <h2><span class="number">未</span>サンプル依頼内容の確認
                            <span>（この案件は未発送のため、キャンセルが可能です）</span>
                            <span><button type="button" class="btn btn-outline-danger btn-sm" id="cancel">キャンセル</button></span>
                        </h2>
                    </div>
                {% elif kubun == "kakunin_no" %}
                    <div class="title00">
                        <h2><span class="number">済</span>サンプル依頼内容の確認<span>（この案件は既に手配済みです）</span></h2>
                    </div>
                {% elif kubun == "junbi" %}
                    <div class="title04">
                        <h2><span class="number">準</span>サンプル依頼内容の確認<span>（この案件は現在発送準備中です）</span></h2>
                    </div>
                {% endif %}
            </div>

            <!-- 選択商品一覧 -->
            <div class="mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th>サンプルNo.</th>
                            <th>商品番号</th>
                            <th>ブランド</th>
                            <th>商品名</th>
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th>区分</th>
                            {% if kubun == "kakunin_no" and irai_detail.status == 2 %}
                                <th style="text-align: center;">返却</th>
                            {% else %}
                                <th>結果</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in irai_shouhin_list %}
                        <tr>
                            <td style="vertical-align: middle;">{{i.sample_num}}</td>
                            <td style="vertical-align: middle;">{{i.shouhin_num}}</td>
                            <td style="vertical-align: middle;">{{i.brand}}</td>
                            <td style="vertical-align: middle;">{{i.shouhin_name}}</td>
                            <td style="vertical-align: middle;">{{i.color}}</td>
                            <td style="vertical-align: middle;">{{i.size}}</td>
                            <td style="vertical-align: middle;">{{i.kubun}}</td>
                            <td style="text-align: center;">
                                {% if kubun == "kakunin_no" and irai_detail.status == 2 %}
                                    {% if i.henkyaku == 0 %}
                                        未返却
                                    {% else %}
                                        {{i.henkyaku_day}}
                                    {% endif %}
                                {% else %}
                                    <i class="bi bi-check-circle-fill" style="font-size: 1.5em; color: #349102"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 依頼詳細 -->
            <div class="mt-5">
                
                <div style="width: 1100px; align-items: end;">
                    <span style="font-size: 1.5em; font-weight: bold;">依頼No.{{irai_detail.irai_num}}</span>　（依頼日：{{irai_detail.rental_day}}）
                </div>

                <div id="irai_num" style="display: none;">{{irai_detail.irai_num}}</div>

                <table class="table table-bordered" style="margin-top: 5px; font-size: 0.9em; width: 1100px;">
                    <tr class="table-secondary"><td colspan="4">サンプル依頼</td></tr>
                        <td style="width: 15%;">依頼内容</td>
                        <td style="width: 35%;">
                            {% if irai_detail.irai_type == 0 %}
                                顧客あて
                            {% elif irai_detail.irai_type == 1 %}
                                店舗あて
                            {% else %}
                                キープ
                            {% endif %}
                        </td>
                        <td style="width: 15%;">状態</td>
                        <td style="width: 35%;">
                            {% if irai_detail.status == 0 %}
                                発送待ち（キャンセル可）
                            {% elif irai_detail.status == 1 %}
                                発送準備中
                            {% elif irai_detail.status == 2 %}
                                発送完了
                            {% elif irai_detail.status == 3 %}
                                キャンセル：{{irai_detail.cancel_name}} （{{irai_detail.cancel_day}}）
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>所属</td><td id="shozoku">{{irai_detail.shozoku}}</td>
                        <td>担当者</td><td id="tantou">{{irai_detail.tantou}}</td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4">配送先</td></tr>
                    <tr>
                        <td>店舗</td><td>{{irai_detail.haisou_tempo}}</td>
                        <td>納品指定日時</td>
                        <td>
                            {% if irai_detail.haisou_deliday == "" %}
                                {{irai_detail.haisou_delitime}}
                            {% else %}
                                {{irai_detail.haisou_deliday}}　{{irai_detail.haisou_delitime}}
                            {% endif %}
                        </td>    
                    </tr>
                    <tr>
                        <td>会社</td><td>{{irai_detail.haisou_com}}</td>
                        <td>氏名</td><td>{{irai_detail.haisou_cus}}</td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td colspan="3">
                            {{irai_detail.haisou_yubin}}　{{irai_detail.haisou_pref}}{{irai_detail.haisou_city}}{{irai_detail.haisou_banchi}}{{irai_detail.haisou_build}}
                        </td>
                    </tr>
                    <tr>
                        <td>電話番号</td><td>{{irai_detail.haisou_tel}}</td>
                        <td>メールアドレス</td><td>{{irai_detail.haisou_mail}}</td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4">配送元</td></tr>
                    <tr>
                        <td>会社</td><td>{{irai_detail.haisou_com_m}}</td>
                        <td>氏名</td><td>{{irai_detail.haisou_cus_m}}</td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td colspan="3">
                            {{irai_detail.haisou_yubin_m}}　{{irai_detail.haisou_pref_m}}{{irai_detail.haisou_city_m}}{{irai_detail.haisou_banchi_m}}{{irai_detail.haisou_build_m}}
                        </td>
                    </tr>
                    <tr>
                        <td>電話番号</td><td>{{irai_detail.haisou_tel_m}}</td>
                        <td></td><td></td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4">納品書</td></tr>
                    <tr>
                        <td>会社</td><td>{{irai_detail.nouhin_com}}</td>
                        <td>氏名</td><td>{{irai_detail.nouhin_cus}}</td>
                    </tr>
                    <tr>
                        <td>日付</td><td>{{irai_detail.nouhin_day}}</td>
                        <td>貸出期限</td><td>{{irai_detail.rental_maxday}}</td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4">備考</td></tr>
                    <tr>
                        <td>依頼メモ</td><td>{{irai_detail.bikou2 | linebreaksbr}}</td>
                        <td>納品書</td><td>{{irai_detail.bikou1 | linebreaksbr}}</td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4">その他</td></tr>
                    <tr>
                        <td>運送会社</td><td>{{irai_detail.unsou_com}}</td>
                        <td>問い合わせ番号</td><td>{{irai_detail.unsou_num}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  
  
  
        //キャンセル
        $('#cancel').on('click', function(e) {
            var shozoku = document.getElementById("shozoku").innerText
            var tantou = document.getElementById("tantou").innerText
            var result = window.confirm(shozoku + "の " + tantou + "さんが依頼した案件です。\n\n本当にキャンセルしますか？");
            if (result){
                var irai_num=document.getElementById("irai_num").innerText;
                var ans=window.prompt("所属部署と名前を入力してください（キャンセル依頼者）");
                if (ans != "" && ans != null){
                    $.ajax({
                        'url': '{% url "zaiko:cancel_ajax" %}',
                        'type': 'POST',
                        'data': {
                            'irai_num': irai_num,
                            'name':ans
                        },
                        'dataType': 'json'
                    })
                    .done(function(response){
                        window.location.reload();
                        window.alert("キャンセルが完了しました！");
                    });
                };
            };
        });


    </script>

</body>
</html>