{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>依頼成功</title>
</head>
<body>
    <div class="container mt-5">
        <div style="margin: 0 auto; justify-content: center; width: 1100px;">
            <!-- タイトル -->
            <div class="title03">
                <h2><span class="number">03</span>サンプル依頼が完了しました</h2>
            </div>


            <!-- 選択商品一覧 -->
            <div class="mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th>サンプルNo</th>
                            <th>商品番号</th>
                            <th>ブランド</th>
                            <th>商品名</th>
                            <th>カラー</th>
                            <th>サイズ</th>
                            <th>区分</th>
                            <th>結果</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in irai_shouhin_list %}
                        <tr>
                            <td style="vertical-align: middle;">{{i.sample_num}}</td>
                            <td style="vertical-align: middle;">{{i.shouhin_num}}</td>
                            <td style="vertical-align: middle;">{{i.brand}}</td>
                            <td style="vertical-align: middle;">{{i.shouhin_name}}</td>
                            <td style="vertical-align: middle;">{{i.color}}</td>
                            <td style="vertical-align: middle;">{{i.size}}</td>
                            <td style="vertical-align: middle;">{{i.kubun}}</td>
                            <td style="text-align: center;">
                                <i class="bi bi-check-circle-fill" style="font-size: 1.5em; color: #349102"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 依頼詳細 -->
            <div>貸出日：</div>
            <div>
                <table class="table table-bordered" style="font-size: 0.9em; width: 900px;">
                    <tr class="table-secondary"><td colspan="4" style="text-align: center;">サンプル依頼</td></tr>
                        <td style="width: 15%;">依頼No.</td>
                        <td style="width: 35%;"></td>
                        <td style="width: 15%;">依頼内容</td>
                        <td style="width: 35%;"></td>
                    </tr>
                    <tr>
                        <td>所属</td><td></td>
                        <td>担当者</td><td></td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4" style="text-align: center;">配送先</td></tr>
                    <tr>
                        <td>店舗</td><td></td>
                        <td></td><td></td>    
                    </tr>
                    <tr>
                        <td>会社</td><td></td>
                        <td>氏名</td><td></td>
                    </tr>
                    <tr>
                        <td>住所</td><td colspan="3"></td>
                    </tr>
                    <tr>
                        <td>電話番号</td><td></td>
                        <td>メールアドレス</td><td></td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4" style="text-align: center;">納品書</td></tr>
                    <tr>
                        <td>会社</td><td></td>
                        <td>氏名</td><td></td>
                    </tr>
                    <tr>
                        <td>日付</td><td></td>
                        <td>貸出期限</td><td></td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4" style="text-align: center;">備考</td></tr>
                    <tr>
                        <td>依頼メモ</td><td></td>
                        <td>納品書</td><td></td>
                    </tr>
                    <tr class="table-secondary"><td colspan="4" style="text-align: center;">その他</td></tr>
                    <tr>
                        <td>案件パスワード</td><td></td>
                        <td></td><td></td>    
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>