{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'tamori.gif' %}">
    <title>サンプル在庫_管理（登録・修正）</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div style="margin: 0 auto; justify-content: center; width: 1100px;">

            <!-- カテゴリ選択 -->
            <div class="flex2">
                <div style="width: 800px; height: 200px;">
                    <select class="form-select" id="category" size="7">
                        {% for i in ins %}
                        <option value="{{i.category}}">【 {{i.category}} 】　{{i.category_ex}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width: 200px; height: 200px; margin-left: 50px;">
                    <select class="form-control" id="hinban" size="7"></select>
                </div>
            </div>
            <!-- 一括編集 -->
            <div>
                <div>
                    <div>■一括編集</div>
                    <div class="flex2 mt-2">
                        <div><input type="text" class="form-control" id="hinban_all" style="width: 150px;" disabled></div>
                        <div style="margin-left: 30px;">品名：</div>
                        <div><input type="text" class="form-control" id="hinban_all_name" style="width: 600px;"></div>
                        <div style="margin-left: 30px;"><button class="btn btn-primary">更新</button></div>
                        <div style="margin-left: 30px;"><button class="btn btn-outline-danger">登録削除</button></div>
                    </div>
                </div>
                <div class="mt-5">
                    <div>■個別編集</div>
                    <div class="inlineframe mt-2" style="height: 250px;">
                        <div id="shouhin_all"></div>
                    </div>
                    
                </div>
            </div>








        </div>
    </div>


    <!-- JavaScript -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  
  
  
        //カテゴリ選択
        $('#category').on('click', function(e) {
            $.ajax({
                'url': '{% url "zaiko2:category_click_ajax" %}',
                'type': 'POST',
                'data': {'category': $('#category').val()},
                'dataType': 'json'
            })
            .done(function(response){
                var list
                for (var i of response.hinban_list){
                    list = list + '<option>' + i + '</option>';
                }
                document.getElementById("hinban").innerHTML=list;
                document.getElementById("hinban_all").value=""
                document.getElementById("hinban_all_name").value="";
                var itm = response.items;
                var str="";
                var str2="";
                for (var i=0; i<itm.length ;i++){
                    str2="<div class='flex2 main10 hover2' id='item_list' name='" + itm[i].hontai_num + "' id='shouhin_all_click'>" +  
                            "<div style='width:100px;'>" + itm[i].sample_num + "</div>" +
                            "<div style='width:140px;'>" + itm[i].shouhin_num + "</div>" +
                            "<div style='width:120px;'>" + itm[i].brand + "</div>" +
                            "<div style='width:400px;'>" + itm[i].shouhin_name + "</div>" +
                            "<div style='width:200px;'>" + itm[i].color + "</div>" +
                            "<div style='width:100px;'>" + itm[i].size + "</div>" +
                        "</div>"
                    str = str + str2
                };
                var str="<div>" + str + "</div>"
                document.getElementById("shouhin_all").innerHTML=str;
                item_list_click();
            });
        });


        //品番選択
        $('#hinban').on('click', function(e) {
            if ($('#hinban').val() != null){
                $.ajax({
                    'url': '{% url "zaiko2:hinban_click_ajax" %}',
                    'type': 'POST',
                    'data': {
                        'category': $('#category').val(),
                        'hinban': $('#hinban').val()
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    if ($('#category').val() != "取寄せ"){
                        document.getElementById("hinban_all").value=response.hinban;
                        document.getElementById("hinban_all_name").value=response.shouhin_name;
                    };
                    var itm = response.items;
                    var str="";
                    var str2="";
                    for (var i=0; i<itm.length ;i++){
                        str2="<div class='flex2 main10 hover2' id='item_list' name='" + itm[i].hontai_num + "' id='shouhin_all_click'>" +  
                                "<div style='width:100px;'>" + itm[i].sample_num + "</div>" +
                                "<div style='width:140px;'>" + itm[i].shouhin_num + "</div>" +
                                "<div style='width:120px;'>" + itm[i].brand + "</div>" +
                                "<div style='width:400px;'>" + itm[i].shouhin_name + "</div>" +
                                "<div style='width:200px;'>" + itm[i].color + "</div>" +
                                "<div style='width:100px;'>" + itm[i].size + "</div>" +
                            "</div>"
                        str = str + str2
                    };
                    var str="<div>" + str + "</div>"
                    document.getElementById("shouhin_all").innerHTML=str;
                    item_list_click();
                });
            }
        });


        // リストクリック
        function item_list_click(){
            var item=document.querySelectorAll("#item_list");
            for (var i=0; i<item.length; i++){
                item[i].addEventListener("click",function(){
                    console.log(this.name);
                    // $.ajax({
                    //     'url': '{% url "zaiko2:list_click_ajax" %}',
                    //     'type': 'POST',
                    //     'data': {"hontai_num":this.name},
                    //     'dataType': 'json'
                    // })
                    // .done(function(response){                
                    //     window.location.reload();
                    // })
                },false)
            };
        };


    </script>
</body>
</html>